body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 800px;
}

header {
    width: 800px;
    height: 20px;
    padding-top: 30px;
    padding-left: 15px;
}

#name {
    color: #51DCFF;
    font-size: 35px;
    margin: auto;
}

#paragraph {
    padding: 20px;
    line-height: 20px;
}

#works {
    padding: 15px;
    top: 10px;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    clear: both;
    text-align: center;
    padding: 0px 50px 0px 230px;
    margin: 10px;
    word-spacing: 1px;
}
