* {
    box-sizing: border-box;
}

body {
    width: 800px;
    height: 520px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: bisque;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 30px 0px 10px 0px;
    color: darkolivegreen;
}

#storyboard2 {
    position: absolute;
}

#results {
    width: 900px;
}


/*The Footer*/

footer {
    display: inline-block;
    position: absolute;
    margin: 0px 0px 0px 110px;
    bottom: 2px;
    left: 29%;
    word-spacing: 1px;
}

footer:hover {
    background-color: olive;
}