body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 800px;
}

header {
    width: 800px;
    height: 20px;
    padding: 30px;
}

#name {
    color: #51DCFF;
    font-size: 35px;
    margin: auto;
    margin-left: 10px;
}

#class {
    display: inline-block;
    color: #929ba8;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 15px;
}

#columns {
    clear: both;
    margin: auto;
}

nav {
    margin-top: 10px;
    font-size: 15px;
}

div {
    float: left;
    width: 300px;
    margin-top: 10px;
}

#creatives {
    margin-left: 40px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: #51DCFF;
}

#project2 {
    margin-left: 70px;
    text-decoration: underline;
    text-decoration-color: #51DCFF;
}

footer {
    position: fixed;
    bottom: 0;
    clear: both;
    text-align: center;
    padding: 0px 50px 0px 250px;
    margin: 10px;
    word-spacing: 1px;
}
